<div class="game-creator">
    <h1>Start playing "{{this.model.title}}"!</h1>

    <h3>Up to 4 Teams:</h3>

    <div>
        <label>Team 1</label>
        <input type="text" oninput={{action (mut team1Name) value="target.value"}} />
    </div>
    <div>
        <label>Team 2</label>
        <input type="text" oninput={{action (mut team2Name) value="target.value"}} />
    </div>
    <div>
        <label>Team 3</label>
        <input type="text" oninput={{action (mut team3Name) value="target.value"}} />
    </div>
    <div>
        <label>Team 4</label>
        <input type="text" oninput={{action (mut team4Name) value="target.value"}} />
    </div>

    <button class="button _primary" {{action "startGame"}}>Start Game</button>
</div>