
<div class="board-builder-component">
    {{#if isEditingAnswer}}<div class="board-overlay"></div>{{/if}}
    <div class="table">
        <div class="table-row">
            <div class="table-cell _indent _header">&nbsp;</div>

            {{#each @board.categories as |category|}}
                <div class="table-cell _bordered _header">
                    <EditableText
                        @onSaveText={{fn this.saveCategoryText category}}
                        @value={{category.title}}
                        @defaultText="(No category name)"
                        placeholder="Type a category name..." 
                    />
                </div>
            {{/each}}

            {{#each this.remainingCategories as |remainingCategory|}}
                <div class="table-cell _header">
                    {{#if (eq remainingCategories.firstObject remainingCategory)}}
                        <div class="_dashed _active {{if (eq this.highlightedIndex remainingCategory.index) "_highlighted"}}">
                            <a 
                                href="#" 
                                class="create-prompt"
                                {{on "click" @onAddCategory}}
                                {{on "mouseenter" (fn this.setHighlight remainingCategory.index)}}
                                {{on "mouseleave" (fn this.setHighlight null)}}>+<br>Add Category</a>
                        </div>
                    {{else}}
                        <div class="_dashed">
                            <div class="create-prompt">
                                +<br>Add Category</div>
                            </div>
                    {{/if}}
                </div>
            {{/each}}

        </div>

        {{#each @board.prices as |price|}}
            <div class="table-row">
                <div class="table-cell _indent"></div>

                {{#each @board.categories as |category|}}
                    {{#let (find-by "price.id" price.id category.answers) as |answer|}}
                        <div class="table-cell _bordered">
                            {{#if (and answer (eq answer this.editingAnswer))}}
                                <div class="editing-answer answer-inner">
                                    <div>
                                        <label>Answer</label>
                                        <input type="text" value={{answer.answerText}} {{on "input" (fn this.setAnswerText answer)}}>
                                    </div>
                                    <div>
                                        <label>Question</label>
                                        <input type="text" value={{answer.questionText}} {{on "input" (fn this.setQuestionText answer)}}>
                                    </div>
                                    <button class="button _primary" {{on "click" (fn this.saveAnswer answer)}}>Save Answer</button>
                                </div>
                            {{else if answer}}
                                <div class="answer-inner _hover" {{on "click" (fn this.setEditingAnswer answer)}}>
                                    {{coalesce answer.answerText "(No answer yet)"}}
                                </div>
                            {{else}}
                                <div class="_hover" {{on "click" (fn @onAddAnswer category price)}}>
                                    +<br>Add Answer
                                </div>
                            {{/if}}
                        </div>
                    {{/let}}
                {{/each}}

                {{#each this.remainingCategories as |category|}}
                    <div class="table-cell">
                        <div class="_dashed {{if (eq category.index this.highlightedIndex) "_highlighted"}}">
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/each}}

        {{#each this.remainingPrices as |price|}}
            <div class="table-row">
                <div class="table-cell _indent">
                    {{#if (eq price this.remainingPrices.firstObject)}}
                        <div class="_indent _dashed _active">
                            <div class="create-prompt" {{on "click" (fn @onAddPrice this.model price)}}>
                                <span>+<br>Add Price Row</span>
                                <div>${{price.amount}}</div>
                            </div>
                        </div>
                    {{else}}
                        <div class="_dashed">
                            <div class="create-prompt">
                                <div>+<br>Add Price Row</div>
                                <div>${{price.amount}}</div>
                            </div>
                        </div>
                    {{/if}}
                </div>
                
                {{#each @board.categories as |category|}}
                    <div class="table-cell">
                        <div class="_dashed">
                        </div>
                    </div>
                {{/each}}
                {{#each this.remainingCategories as |category|}}
                    <div class="table-cell">
                        <div class="_dashed">
                            <span>&nbsp;</span>
                        </div>
                    </div>
                {{/each}}
            </div>
        {{/each}}
    </div>
</div>


