{{outlet}}

<div>
    <label>Title</label>
    <input type="text" value={{model.title}} oninput={{action (mut model.title) value="target.value"}} />
</div>

<div style="margin-top: 2rem;">
    <button class="button _primary" {{action "saveGame"}}>Save Changes</button>
</div>

<div style="margin-top: 2rem;">
    <h1>Initial Board</h1>
    {{#let this.model.boards.firstObject as |initialBoard|}}
        <BoardBuilder 
            @board={{initialBoard}} 
            @onAddCategory={{fn this.addCategory initialBoard}} 
            @onAddPrice={{fn this.addPrice initialBoard}}
            @onAddAnswer={{fn this.addAnswer}}
        />
    {{/let}}
</div>

<div style="margin-top: 2rem;">
    {{#if (eq this.model.boards.length 2)}}
        {{#let this.model.boards.lastObject as |doubleBoard|}}
            <BoardBuilder 
                @board={{doubleBoard}} 
                @onAddCategory={{action this.addCategory doubleBoard}} 
                @onAddPrice={{action this.addPrice doubleBoard}}
            />
        {{/let}}
    {{else}}
        <button class="button _primary" {{action (fn this.addBoard)}}>Add Double Jeopardy Board</button>
    {{/if}}
</div>

<div style="margin-top: 2rem;">
    {{#if this.model.finalJeopady}}
    {{else}}
        <button class="button _primary" {{action (fn this.addFinalJeopardy)}}>Add Final Jeopardy Question</button>
    {{/if}}
</div>

{{#if this.isSaving}}
    <p>Saving...</p>
{{/if}}