<div class="game-creator">
    <h1>Game Creator</h1>

    <h3>Up to 4 Teams:</h3>

    <div>
        <label>Team 1</label>
        <input type="text" oninput={{action "setTeam1Name" value="target.value"}} />
    </div>
    <div>
        <label>Team 2</label>
        <input type="text" oninput={{action "setTeam2Name" value="target.value"}} />
    </div>
    <div>
        <label>Team 3</label>
        <input type="text" oninput={{action "setTeam3Name" value="target.value"}} />
    </div>
    <div>
        <label>Team 4</label>
        <input type="text" oninput={{action "setTeam4Name" value="target.value"}} />
    </div>

    <button class="button _primary" {{action "startGame"}}>Start Game</button>
</div>